main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

nav {
    position: fixed;
    width: 15%;
    height: 100%;
    background: var(--just-white);
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100%;
    margin-left: 15%;
}

.sec-left {
    width: 70%;
    height: 100%;
    background-color: var(--bg-color);
    overflow-y: auto;
}

.sec-right {
    width: 30%;
    height: 100%;
    background-color: #f9f9f9;
    border-left: 2px solid #dfe9f8;
    overflow-y: auto;
}

/* 
LOGO / NAVBAR
*****************************************************/

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.logo img {
    width: 40px;
    margin-right: 5px;
}

.logo p {
    font-size: 2rem;
    color: #232323;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 2px 4px var(--just-white);
}

nav ul li a {
    display: block;
    margin: 15px 24px;
    padding: 12px 0px 12px 20px;
}

nav ul li a .lj {
    font-weight: 700;
    margin-right: 5px;
}

.item-menu {
    transition: all .26s;
    cursor: pointer;
}

.item-menu:hover {
    background-color: #dfe9f8;
}

.item-menu.active {
    background-color: var(--dark-green);
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.26);
    color: var(--just-white);
}

/* 
RIGHT AREA
*****************************************************/
.user-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.user-area__account {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-area__account img {
    width: 40px;
    margin-right: 5px;
}

.normal-text {
    color: #232323;
    font-size: 1.5rem;
}

.small-text {
    font-size: 1.2rem;
    color: #909090;
}

.user-area__notify button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #cccccc;   
    background-color: transparent;
    transition: box-shadow .26s;
}

.user-area__notify button:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.26);
}

.widget {
    padding: 30px;
}

.widget-title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.widget-title .lj {
    font-weight: 700;
}

.habits-list ul li {
    padding: 6px 0;
}

.habits-list__text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #565656;
    cursor: pointer;
}

.habits-list__text input {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.habits-list__text p {
    display: flex;
    flex-direction: column;
}

/* 
LEFT AREA / DASHBOARD
*****************************************************/

.dashboard-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0;
}

.dashboard-top__date {
    font-size: 1.4rem;
}

.dashboard-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.dashboard-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--just-white);
}

.dashboard-numbers__item {
    padding: 0 40px;
    margin: 20px 0;
    text-align: center;
    border-right: 1px solid #eeeeee;
}

.dashboard-numbers__item:last-child {
    border-right: none;
}

.dashboard-number__bigNumber {
    color: var(--black);
    font-size: 3.2rem;
    font-weight: bold;
}

.dashboard-numbers__item .normal-text {
    color: var(--text-color-light);
    font-size: 1.2rem;
    margin-top: 4px;
}

/* TASK */

.title-divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.8rem;
    color: #565656;
    padding: 20px 20px 0px;
    font-weight: 500;
}

.options button{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border: 1px solid var(--dark-green);
    border-radius: 4px;
    background-color: var(--dark-green);
    cursor: pointer;
    box-shadow: -1px 1px 12px rgba(0,0,0,0.26); 
}

.options button .small-text {
    color: var(--just-white);
    margin-left: 4px;
}

.options button .lj {
    color: var(--just-white);
}

.home-grid {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-grid__box {
    position: relative;
    min-width: 31.8%;
    max-width: 32%;
    min-height: 150px;
    margin: 0 0 20px;
    padding: 24px;
    background-color: var(--just-white);
    box-shadow: 0 0 6px rgba(0, 0, 0, .087);
    border-radius: 4px;
}

.box-cog {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.box-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box-icon {
    font-weight: bold;
    margin-right: 5px;
    color: var(--black);
}

.box-name {
    font-size: 1.4rem;
    color: var(--black);
}

.box-desc {
    font-size: 1.2rem;
    color: var(--black);
    padding: 6px 0px 10px;
}

.box-todo {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box-todo p {
    padding: 0 10px 0 0;
    font-size: 1.2rem;
}

.badge {
    font-size: 1.2rem;
    padding: 4px 8px;
    background: var(--red);
    color: var(--just-white);
    border-radius: 4px;
}

.todo {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.todo-task {
    width: 70%;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: var(--just-white);
    box-shadow: -2px 2px 6px rgba(0,0,0,0.0575);
}

.todo-task table tbody tr td {
    padding: 5px 0;
}

.todo-metrics {
    width: 25%;
}

.todo-metrics__card {
    margin: 0 0 20px;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    background-color: #dfe9f8;
    box-shadow: -1px 1px 3px rgba(0,0,0,0.0575);
}

.todo-metrics__card p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    color: #565656;
}

.todo-metrics__card p span {
    width: 22%;
    font-size: 3rem;
    font-weight: 700;
    color: #565656;
}

.clock-wrap {
    background-color: var(--black);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.26);
}

.clock {
    color: var(--dark-green);
    font-size: 2.6rem;
    line-height: 0rem;
    font-family: 'Linearicons-Free';
    letter-spacing: 1px;
    font-weight: 900;
    text-shadow: 0px 0px 24px #3abd20;
}

.widget-clock {
    padding: 0 80px;
}

/* MODAL */

.modal {
    display: block;
    width: 760px;
    max-width: 100%;
    height: 500px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--just-white);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, .46);
    border-radius: 6px;
    opacity: 1;
    transition:all 150ms ease-in-out;
}

.closed {
    /* display: none; */
    z-index: -100;
    opacity: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
}

.modal-overlay.closed {
    z-index: -100;
}

.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 24px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20px;
}

.modal-title {
    font-size: 1.2rem;
}

.modal-content {
    font-size: 1.4rem;
}

.modal .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
    background: #dddddd;
    color: var(--text-color-light);
    cursor: pointer;
    z-index: 10;
}

.modal-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.form-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.4rem;
    padding: 8px 12px;
    color: var(--just-white);
    background-color: var(--dark-green);
    cursor: pointer;
    border: 1px solid var(--dark-green);
    border-radius: 2px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.26);
}

.form-left {
    width: 60%;
}

.form-right {
    width: 36%;
    border-left: 2px solid var(--bg-color);
    padding: 10px 15px;
}

.form-group {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
}

.form-group label {
    width: auto;
    display: block;
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 700;
}

.form-group .attributes {
    width: 34%;
}

.form-group .input-project {
    width: 100%;
    height: 40px;
    margin: 0px 10px 0px 0px;
    padding: 0 20px;
    border: none;
    font-size: 2.6rem;
    font-weight: 700;
    outline: none;
    color: var(--black);
}

.create-goals {
    width: 100%;
    display: flex;
    border-left: 2px solid var(--bg-color);
    padding-top: 12px;
    padding-left: 12px;
}

.create-goals .input-goal {
    width: 88%;
    height: 30px;
    font-size: 1.4rem;
    border: 2px solid #efefef;
    padding: 0 6px;
    outline: none;
    transition: all .26s;
}

.create-goals .input-goal:focus {
    background-color: #f6ffdf;
    border-color: #cacaca;
}

.create-goals .add-goal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    padding: 0 6px;
    font-size: 3.6rem;
    border: 1px solid var(--dark-green);
    background-color: var(--dark-green);
    font-weight: bold;
    cursor: pointer;
    line-height: 0;
    color: var(--just-white);
    border-radius: 25px;
}

.create-goals-list {
    width: 100%;
    min-height: 80px;
    padding: 12px;
    padding-top: 0px;
}

.create-goals-list input,
.create-tags-list input {
    width: 100%;
    padding: 3px 0;
    border: none;
    outline: none;
    color: var(--dark-green);
    font-size: 1.2rem;
    font-weight: 600;
}

.form-group textarea {
    width: 100%;
    border: 2px solid var(--bg-color);
    padding: 8px;
    outline: none;
    font-size: 1.4rem;
    transition: all 0.26s;
}

.form-group textarea:focus {
    border-color: #cacaca;
}

.form-group select,
.form-group input[type="date"] {
    width: 100%;
    height: 32px;
    padding: 0 6px;
    margin: 20px 0px 0px 20px; 
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    outline: none;
    color: var(--dark-green);
} 

.form-right-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dedede;
    padding-bottom: 10px;
}

.form-right-title p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color-light);
}

.form-right select, 
.form-right input[type="date"] {
    background-color: #D8E9A8;
}

.select-tags {
    padding: 20px 0;
    flex-direction: column;
}

.select-tags label {
    padding: 0 0 4px 0;
}

.a-link {
    color: var(--dark-green);
    font-size: 1.4rem;
    cursor: pointer;
}
